@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*, *:after, *:before {
  box-sizing: border-box;
}

a:hover, a:focus {
  outline: none;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  background: #FCFAF7;
  color: #0f0f0f;
}
body ul {
  padding-left: 0;
  list-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}

.inner-wrap {
  margin: 0 auto;
  padding: 0 80px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito";
}
#header .gnb .menu {
  width: 145px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  color: #606163;
}
#header .gnb a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 1;
}
#header .gnb a:hover {
  color: #65B6BE;
}
#header .gnb .main-btn {
  font-size: 36px;
  font-weight: 1000;
  font-style: italic;
  mix-blend-mode: difference;
}
#header .gnb .main-btn span {
  color: #65B6BE;
}

#intro, #intro *,
#about-me,
#about-me *,
#more-info,
#more-info * {
  cursor: none;
}
#intro .shapes,
#about-me .shapes,
#more-info .shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #0f0f0f;
  overflow: hidden;
}
#intro .shape,
#about-me .shape,
#more-info .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
#intro .shape.shape-1,
#about-me .shape.shape-1,
#more-info .shape.shape-1 {
  background: #ffcc57;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}
#intro .shape.shape-2,
#about-me .shape.shape-2,
#more-info .shape.shape-2 {
  background: #2dcedd;
  width: 240px;
  height: 240px;
  margin: -120px 0 0 -120px;
}
#intro .shape.shape-3,
#about-me .shape.shape-3,
#more-info .shape.shape-3 {
  background: #606163;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
}
#intro .cursor,
#about-me .cursor,
#more-info .cursor {
  position: fixed;
  background: rgba(101, 182, 190, 0.5);
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#intro {
  text-align: center;
}
#intro .inner-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding-bottom: 50px;
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/bg-intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: screen;
  overflow: hidden;
}
#intro .line {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "nunito";
  font-size: 200px;
  font-weight: 1000;
  line-height: 1.2;
}
#intro .line .textbox {
  position: relative;
}
#intro .line .textbox:hover {
  animation: moveUp 0.3s ease forwards;
}
@keyframes moveUp {
  100% {
    transform: translateY(-20px);
  }
}
#intro .line .textbox p {
  margin: 0;
  font-size: 200px;
}
#intro .line .blind {
  opacity: 0;
}
#intro .line .emoji-slick {
  position: absolute;
  bottom: 45px;
  left: -10px;
}
#intro .line .emoji-slide {
  font-size: 110px;
}
#intro .line .emoji {
  position: relative;
}
#intro .line .emoji img {
  position: absolute;
  width: 40%;
  top: 10px;
  left: 20px;
}
#intro .line .name {
  font-style: italic;
}
#intro .line .br {
  display: block;
  margin-left: 50px;
  color: #65B6BE;
  animation: word 1.2s linear infinite;
}
@keyframes word {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
#intro .line .mark {
  padding-left: 20px;
}
#intro .scroll-wrap {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 40px;
}
#intro .scroll-wrap .scroll-icon i {
  padding-bottom: 30px;
  animation: scroll-icon 0.5s linear infinite alternate;
}
@keyframes scroll-icon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#intro .scroll-wrap span {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 600;
  color: #BDD5D8;
}

#about-me {
  height: 100vh;
  background: #BDD5D8;
  mix-blend-mode: screen;
}
#about-me .inner-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #BDD5D8;
  mix-blend-mode: screen;
}
#about-me .about-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: none;
  height: 100vh;
}
#about-me .about-wrap .text-wrap .icon-wrap {
  position: absolute;
}
#about-me .about-wrap .text-wrap img {
  position: absolute;
  top: -70px;
  left: -15px;
  transform: scale(0.8);
}
#about-me .about-wrap .text-wrap img:first-of-type {
  opacity: 1;
}
#about-me .about-wrap .text-wrap img:nth-of-type(2) {
  animation: fade 2s infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#about-me .about-wrap .text-wrap p {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
}
#about-me .about-wrap .text-wrap p:first-of-type {
  color: #606163;
  font-size: 22px;
  font-weight: 300;
}
#about-me .about-wrap .text-wrap strong {
  color: #0f0f0f;
  font-size: 24px;
  font-family: "Nunito";
  font-style: italic;
}
#about-me .about-wrap .text-wrap span {
  font-weight: 700;
}
#about-me .about-wrap .profile-image {
  width: 40%;
  height: 400px;
  background-image: url(../../images/profile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#about-me .about-wrap .particletext {
  text-align: center;
  font-size: 48px;
  position: relative;
}
#about-me .about-wrap .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  animation: confetti 3s ease-in infinite;
}
#about-me .about-wrap .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}
#about-me .about-wrap .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
#about-me .skill-wrap {
  display: flex;
  justify-content: space-around;
}
#about-me .skill-wrap ul {
  display: flex;
}

.pf-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.pf-wrap .pagebox {
  width: 50%;
  overflow-y: hidden;
}
.pf-wrap .explanation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.pf-wrap .explanation .ex-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.pf-wrap .explanation .ex-title .logo-img {
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pf-wrap .explanation .ex-title .logo-bacchus {
  background-image: url(../../images/logo-bacchus.png);
}
.pf-wrap .explanation .ex-title .logo-justvet {
  background-image: url(../../images/logo-justvet.png);
}
.pf-wrap .explanation .ex-title .logo-cheongdomall {
  background-image: url(../../images/logo-cheondomall.png);
}
.pf-wrap .explanation .ex-title .logo-kasi {
  background-image: url(../../images/logo-kasi.png);
}
.pf-wrap .explanation .ex-title .logo-lahan {
  background-image: url(../../images/logo-lahan.png);
}
.pf-wrap .explanation .ex-title p {
  font-size: 14px;
  font-weight: 200;
}
.pf-wrap .explanation .ex-tool {
  display: flex;
}
.pf-wrap .explanation .ex-tool .t-left {
  font-weight: 600;
}
.pf-wrap .explanation .ex-tool .t-right {
  padding-left: 60px;
}
.pf-wrap .explanation .ex-tool ul li {
  padding: 8px 0;
}
.pf-wrap .explanation .ex-text {
  line-height: 1.8;
  text-align: justify;
}
.pf-wrap .explanation .ex-btn ul {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
.pf-wrap .explanation .ex-btn li {
  padding: 0;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s;
}
.pf-wrap .explanation .ex-btn li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
}
.pf-wrap .explanation .ex-btn li span {
  text-align: center;
  z-index: 20;
}
.pf-wrap .explanation .bacchus li {
  border: 1px solid #160A8B;
}
.pf-wrap .explanation .bacchus li:hover {
  background: radial-gradient(circle, rgba(22, 10, 139, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}
.pf-wrap .explanation .justvet li {
  border: 1px solid #00AEAA;
}
.pf-wrap .explanation .justvet li:hover {
  background: radial-gradient(circle, rgba(0, 174, 170, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}
.pf-wrap .explanation .cheongdomall li {
  border: 1px solid #FF8C00;
}
.pf-wrap .explanation .cheongdomall li:hover {
  background: radial-gradient(circle, rgba(255, 140, 0, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}
.pf-wrap .explanation .kasi li {
  border: 1px solid #6892FF;
}
.pf-wrap .explanation .kasi li:hover {
  background: radial-gradient(circle, rgba(104, 146, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}
.pf-wrap .explanation .lahan li {
  border: 1px solid #B07D58;
}
.pf-wrap .explanation .lahan li:hover {
  background: radial-gradient(circle, rgba(176, 125, 88, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}

#more-info {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 2;
}
#more-info .inner-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  width: 100vw;
  height: 100vh;
  background: #FCFAF7;
  mix-blend-mode: screen;
}
#more-info p {
  font-weight: 300;
}
#more-info strong {
  display: block;
  font-weight: 700;
  background: linear-gradient(90deg, #BDD5D8, #65B6BE, #BDD5D8);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: colorChange 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(15, 15, 15, 0.1);
}
@keyframes colorChange {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
#more-info .more-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url(../../images/bg-more.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: colorOpacity 2s linear infinite alternate;
}
@keyframes colorOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#more-info #footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}
#more-info #footer p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #606163;
}
#more-info #footer .m-visible {
  display: none;
}

#fp-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}
#fp-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#fp-nav ul li {
  position: relative;
}
#fp-nav ul li a {
  width: 14px;
  height: 14px;
  text-decoration: none;
}
#fp-nav ul li span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #606163;
}
#fp-nav ul li p {
  position: absolute;
  top: -17px;
  right: 30px;
  opacity: 0;
  color: #606163;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s;
}
#fp-nav ul li:hover span {
  background-color: #65B6BE;
}
#fp-nav ul li:hover p {
  opacity: 1;
}
#fp-nav ul li:active span {
  background-color: #65B6BE;
}

@media screen and (max-width: 950px) {
  #header .gnb {
    justify-content: center;
  }
  #header .gnb .menu {
    display: none;
  }
  #intro .line {
    font-size: 150px;
  }
  #intro .line .textbox p {
    font-size: 150px;
  }
  #intro .line .emoji-slick {
    left: -5px;
    bottom: 30px;
  }
  #intro .line .emoji-slide {
    font-size: 80px;
  }
  #about-me .inner-wrap {
    padding: 0 20px;
  }
  #about-me .about-wrap .text-wrap p {
    font-size: 20px;
  }
  .pf-wrap .explanation {
    width: 50%;
  }
  .pf-wrap .explanation .ex-wrap {
    padding: 0 20px;
    width: 100%;
  }
  .pf-wrap .explanation .ex-tool ul li {
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  .cursor,
  .shapes {
    display: none;
  }
  #intro .m-hidden {
    display: none;
  }
  #intro .line .br {
    margin-left: 0;
  }
  #intro .line .emoji img {
    left: 10px;
  }
  #about-me .inner-wrap {
    mix-blend-mode: normal;
  }
  #about-me .about-wrap {
    flex-direction: column-reverse;
  }
  #about-me .about-wrap .profile-image {
    width: 100%;
  }
  .pf-wrap {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pf-wrap .pagebox {
    margin-top: 50px;
    width: 100%;
    height: 45%;
  }
  .pf-wrap .explanation {
    padding-top: 20px;
    width: 100%;
  }
  .pf-wrap .explanation .ex-title {
    margin-top: 24px;
  }
  .pf-wrap .explanation .sub-cont {
    padding-left: 30px;
  }
  .pf-wrap .explanation .ex-wrap {
    flex-direction: row;
  }
  .pf-wrap .explanation .ex-btn ul {
    gap: 10px;
  }
  #more-info {
    font-size: 20px;
  }
  #fp-nav {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  #intro .line {
    font-size: 100px;
  }
  #intro .line .textbox p {
    font-size: 100px;
  }
  #intro .line .emoji-slick {
    left: -15px;
    bottom: 20px;
  }
  #intro .line .emoji-slide {
    font-size: 55px;
  }
  #about-me .about-wrap .profile-image {
    display: none;
  }
  #about-me .about-wrap .text-wrap p {
    font-size: 16px;
  }
  #about-me .m-hidden {
    display: none;
  }
  .pf-wrap .explanation .ex-wrap {
    flex-direction: column;
    row-gap: 0;
  }
  .pf-wrap .explanation .ex-title {
    margin-top: 0;
  }
  .pf-wrap .explanation .sub-cont {
    padding-left: 0;
  }
  #more-info {
    font-size: 16px;
  }
  #more-info .m-hidden {
    display: none;
  }
  #more-info #footer p {
    font-size: 12px;
  }
  #more-info #footer .m-visible {
    display: block;
  }
}/*# sourceMappingURL=comm.css.map */